
<h4>Forms <small>template</small></h4>
<hr>
<form novalidate (ngSubmit)="save(forma)" #forma="ngForm" >

  <div>

    <div class="form-group">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               [(ngModel)]="user.name"
               required
               minlength="5"
               name="name"
               #name="ngModel"
               >
        <div *ngIf="name.errors?.required" >Este campo es requerido.</div>
        <div *ngIf="name.errors?.minlength" >Este campo requiere {{name.errors.minlength.requiredLength}} caracteres.</div>
      </div>
    </div>

    <div class="form-group" [ngClass]="{'isvalid-feedback': 'lastName.errors?.required'}">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
               [(ngModel)]="user.lastName"
               name = "lastName"
               required
               #lastName="ngModel"
               >
        <div *ngIf="lastName.errors?.required" >
          Este campo es requerido.
        </div>
      </div>
    </div>

  </div>

  <div class="form-group">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control"
             type="email"
             placeholder="Email"
             [(ngModel)]="user.email"
             name = "email"
             required
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
             #email="ngModel"
             >
      <div *ngIf="email.errors?.required" >Este campo es requerido.</div>
      <div *ngIf="email.errors?.pattern" >El campo no tiene el formato correcto.</div>
    </div>
  </div>

  <div class="form-group">
      <label class="col-2 col-form-label">Pais</label>
      <div class="col-md-8">
          <select class="form-control"
                  [(ngModel)]="user.country"
                  name="country">
              <option value="" selected >Seleccione pais</option>
              <option *ngFor="let pais of paises" [value]="pais.codigo">{{pais.nombre}}</option>
          </select>
      </div>
  </div>

  <div class="form-group">
      <label class="col-2 col-form-label">Sexo</label>
      <div class="col-md-8">
          
          <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" 
                      name="sexo" 
                      [(ngModel)]="user.sex"
                      value = "Hombre"
                      id="customRadioInline1" 
                      name="customRadioInline1" 
                      class="custom-control-input">
              <label class="custom-control-label" for="customRadioInline1">Hombre</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" 
                      name="sexo" 
                      [(ngModel)]="user.sex"
                      value = "Mujer"
                      id="customRadioInline2" 
                      name="customRadioInline1" 
                      class="custom-control-input">
              <label class="custom-control-label" for="customRadioInline2">Mujer</label>
            </div>

      </div>
  </div>

  <div class="form-group">
      <label class="col-2 col-form-label">Acepta</label>
      <div class="col-md-8">
          
        <div class="custom-control custom-checkbox">
            <input type="checkbox" 
                  [(ngModel)]="user.accept"
                  name="accept"
                  requiered
                  class="custom-control-input" 
                  id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Acepta términos y condiciones</label>
        </div>
      </div>

  </div>

  <div class="form-group">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

</form>